Repository MarosMacko/GJAR_IoT, pull requests merged in 2018-11, with the labels that each got.

#20 Added brightness
  Backend/lib/APIv1.py
  Backend/protocol.txt
Labels: backend🖥, bug💥, enhancement💡

#24 Administration commands fix
  Backend/lib/APIv1.py
  Changelogs/samo.cmd.yml
Labels: backend🖥

#22 Added new version of firmware
  Changelogs/miro-HwChanges.yml
  Hardware/WemosFirmware.ino
Labels: hardware📻

#29 Data recording
  Backend/lib/APIv1.py
Labels: backend🖥, bug💥
